<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kelton's BS example.</title>
  <% include partials/common_head_dependencies.ejs %>
</head>
<body>
<!-- container start -->
<div class="container">
  <!-- NAVBAR START -->
  <% include partials/navbar.ejs %>
  <!-- NAVBAR END -->
<p>no ting here yet</p>
<!-- container ends here -->
</body>
</html>