<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/common_head_dependencies.ejs %>
</head>

<body>
  <!-- container start -->
  <div class="container">
    <!-- NAVBAR START -->
    <% include partials/navbar.ejs %>
    <!-- NAVBAR END -->


    <!-- FORUM TOPICS -->
    <div class="row">

      <!-- 6 COLUMN START -->
      <div class="col-sm-6">
        <!-- PROGRAMMING TOPIC -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Programming topic</h5>
            <p class="card-text">Click link to view the programming page</p>
            <a href="/page/programming" class="btn btn-primary">Go there</a>
          </div>
        </div>
        <!-- PROGRAMMING TOPIC END -->

        <br>

        <!-- SOLAR TOPIC -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Solar topic</h5>
            <p class="card-text">Click link to view the solar page</p>
            <a href="/page/solar_panels" class="btn btn-primary">Go there</a>
          </div>
        </div>
        <!-- SOLAR TOPIC END -->

      </div>
      <!-- 6 COLUMN END -->


      <!-- 6 COLUMN START -->
      <div class="col-sm-6">
         <!-- BATTERIES TOPIC -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Batteries topic</h5>
        <p class="card-text">Click link to view the batteries page</p>
        <a href="/page/batteries" class="btn btn-primary">Go there</a>
      </div>
    </div>
    <!-- BATTERIES TOPIC END -->

    <br>

    <!-- CHEMISTRY TOPIC -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Chemistry topic</h5>
        <p class="card-text">Click link to view the chemistry page</p>
        <a href="/page/chemistry" class="btn btn-primary">Go there</a>
      </div>
    </div>
    <!-- END OF CHEMSITRY TOPIC -->

      </div>
      <!-- 6 COLUMN END -->


    </div>
    <!-- ROW END -->




   


  </div>
  <!-- container ends here -->
</body>

</html>